<!-- <p>about works!</p> -->
<section>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="../../../assets/images/personal/personal.jpg" alt="Ing Raúl Adolfo Torres Vargas photo" />
            <!-- Masthead Heading-->
            <h2 class="masthead-heading  mb-0">Who am I?</h2>
            
            <p class="masthead-subheading  mb-0" style="text-align: justify; ">Hello, my name is Raúl Adolfo Torres Vargas, I am a graduate of Computer Systems Engineering belonging to the Faculty of Science and Technology of the Vasco de Quiroga University in the city of Morelia. I have dedicated myself for 5 years to software development, web and technical support.</p>
            <a href="skills" class="mt-3" mat-button>View my skills</a>
        </div>
    </header>
</section>


