.background, mat-card{
  background: linear-gradient(90deg, #616d71,#393d42);
}
.example-card {
    max-width: 400px;
  }
  
  .rompope-carmelita-header-image {
    background-image: url('../../../../assets/images/companies/products-external-branches/robemex/rompope-carmelita.png');
    background-size: cover;
    width: 20%;

  }
  .rompope-delaabuela-header-image{
    background-image: url('../../../../assets/images/companies/products-external-branches/robemex/rompope-de-la-abuela.png');
    background-size: cover;
    width: 20%;

  }
  .mexizcal-header-image{
    background-image: url('../../../../assets/images/companies/products-external-branches/robemex/mexizcal.png');
    background-size: cover;
    width: 20%;

  }
  .robemex-header-image{
    background-image: url('../../../../assets/images/companies/logos/robemex.png');
    background-size: cover;
    width: 20%;

  }
  a{
    text-decoration: none;
    background-color:#393d42;
    color:#616d71;
  }
  a:hover{
    background-color: #616d71;
    text-decoration: none;
    color:#393d42;
  }