<!-- <p>robemex-projects works!</p> -->
<div class="background">
    <div class="container">
      <div class="row mt-5 pt-5 justify-content-center">
        <mat-card class="example-card mb-5 mr-auto ml-auto">
          <mat-card-header>
            <div mat-card-avatar class="rompope-carmelita-header-image"></div>
            <mat-card-title>Rompope Carmelita</mat-card-title>
            <mat-card-subtitle>The Best Rompope (Mexican's Eggnog)</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/robemex/rompope-carmelita.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Gourmet quality handmade rompope with natural ingredients and a recipe from 3 generations.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://usa.rompopecarmelita.com/" target="_blank" mat-button>English Version</a>
            <br>
            <br>
            <a href="https://rompopecarmelita.com/" target="_blank" mat-button>Spanish Versionn</a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card mb-5">
          <mat-card-header>
            <div mat-card-avatar class="rompope-delaabuela-header-image"></div>
            <mat-card-title>Rompope de la Abuela</mat-card-title>
            <mat-card-subtitle>The best Rompope</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/robemex/rompope-de-la-abuela.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Gourmet quality handmade rompope with natural ingredients and a recipe from 3 generations.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://rompopedelaabuela.com" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mb-5">
          <mat-card-header>
            <div mat-card-avatar class="mexizcal-header-image"></div>
            <mat-card-title>Mexizcal</mat-card-title>
            <mat-card-subtitle>The best Rompope</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/robemex/mexizcal.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Gourmet quality handmade rompope with natural ingredients and a recipe from 3 generations.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://mexizcal.com" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card mb-5 mr-5">
          <mat-card-header>
            <div mat-card-avatar class="robemex-header-image"></div>
            <mat-card-title>ROBEMEX</mat-card-title>
            <mat-card-subtitle>The best Rompope</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../assets/images/companies/logos/robemex.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Gourmet quality handmade rompope with natural ingredients and a recipe from 3 generations.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://robemex.com" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>
        

      </div>
    </div>
</div>