<!-- <p>rnet-projects works!</p> -->
<div class="background">
    <div class="container">
      <div class="row mt-5 pt-5 justify-content-center">
        <mat-card class="example-card mb-5 mr-auto ml-auto">
          <mat-card-header>
            <mat-card-title>Gagsa </mat-card-title>
            <mat-card-subtitle>GAGSA INGENIERÍA CIVIL S.A. DE C.V.</mat-card-subtitle>
            <div mat-card-avatar class="gagsa"></div>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/rnet/gagsa-logo.png" alt="Gagsa">
          <mat-card-content>
            <p>
                Construction company dedicated to carrying out civil works, urbanization, building and projects both in public and private works.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="http://www.gagsa.mx/" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card mb-5 mr-auto ml-auto">
          <mat-card-header>
            <mat-card-title>COMOPLAST </mat-card-title>
            <mat-card-subtitle>Comercializadora Moreliana de Plástico S.A. de C.V.</mat-card-subtitle>
            <div mat-card-avatar class="comoplast"></div>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/rnet/comoplast-logo.png" alt="Gagsa">
          <mat-card-content>
            <p>
              Company dedicated to the distribution of plastic resins.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="http://www.comoplast.com.mx/" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>
        
      </div>
    </div>
</div>