<!-- <p>tatich-projects works!</p> -->
<div class="background">
    <div class="container">
      <div class="row mt-5 pt-5 justify-content-center">
        <mat-card class="example-card mb-5 mr-auto ml-auto">
          <mat-card-header>
            
            
            <mat-card-title>Bloopers </mat-card-title>
            <mat-card-subtitle>Puppets</mat-card-subtitle>
            <div uk-lightbox>
                <a class="uk-button uk-button-default" href="../../../../../assets/images/companies/products-external-branches/tatich-studio/bloopers.png">
                    <div mat-card-avatar class="bloopers"></div>
                </a>
            </div>
          </mat-card-header>
          <img mat-card-image class="mx-auto" src="../../../../../assets/images/companies/products-external-branches/tatich-studio/bloopers.png" alt="Bloopers">
          <mat-card-content>
            <p>
                Company dedicated to making content through puppets, created by Desenlace Films company
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://ricanremo.com/" target="_blank" mat-button>Visit page</a>
          </mat-card-actions>
        </mat-card>
        
      </div>
    </div>
</div>