.background{
  background: linear-gradient(90deg, #616d71,#393d42);
}
.uk-card, .uk-card-header,.uk-card-default ,.uk-line{
  background: linear-gradient(90deg, #616d71,#393d42) !important;
}
a{
  text-decoration: none;
  background-color:#393d42;
  color:#616d71;
  font-size: 20px;
}
h3, .uk-card-title{
font-size: 30px;
color:#f1f3f1;
}
a:hover{
  background-color: #616d71;
  text-decoration: none;
  color:#f1f3f1;
  font-size: 20px;
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #f1f3f1;
  border-radius: 1rem;
  border-color: #f1f3f1 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color:#f1f3f1 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #f1f3f1;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #f1f3f1 !important;
}

.page-section {
  padding: 6rem 0;
  color:#f1f3f1;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
  color:#f1f3f1;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.text-secondary {
  color:#f1f3f1 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color:#f1f3f1  !important;
}