<div class="background">

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Works</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <div uk-lightbox>
                    
                    <a class="uk-button uk-button-default" href="../../../assets/images/companies/logos/robemex.png">
                        <img src="../../../assets/images/companies/logos/robemex.png" alt="ROBEMEX Logo" uk-cover>
                <canvas width="10" height="10"></canvas>
                    </a>
                </div>
                
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">ROBEMEX</h3>
                    <a routerLink="/robemex-projects" mat-button> See all the projects</a>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <div uk-lightbox>
                    
                    <a class="uk-button uk-button-default" href="../../../assets/images/companies/logos/tatich.png">
                        <img src="../../../assets/images/companies/logos/tatich.png" width="" alt="Tatich Logo" uk-cover>
                <canvas width="50" height="20"></canvas>
                    </a>
                </div>
                
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Tatich Studio</h3>
                    <a routerLink="/tatich-projects" mat-button> See all the projects</a>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <div uk-lightbox>
                    
                    <a class="uk-button uk-button-default" href="../../../assets/images/companies/logos/rnet.png">
                        <img src="../../../assets/images/companies/logos/rnet.png" width="" alt="rNet Logo" uk-cover>
                <canvas width="150" height="150"></canvas>
                    </a>
                </div>
                
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">rNet</h3>
                    <a routerLink="/rnet-projects" mat-button> See all the projects</a>
                </div>
            </div>
        </div>
        
        
        
    </div>
</section>
</div>